Source: ai2offline-emulator-vulkan
Section: admin
Priority: optional
Maintainer: Juanma1980 <juanma1980@gmail.com>
Uploaders: LliureX Team
Build-Depends: debhelper (>= 12.0)
Standards-Version: 4.4.1
Homepage: https://github.com/lliurex/ai2offline-emulator

Package: ai2offline-emulator-vulkan
Breaks: ai2offline-emulator (<=0.1)
Conflicts: ai2offline-emulator (<=0.1)
Architecture: all
Description: Emulator for ai2offline. Vulkan
 Android 12 emulator for ai2offline. Vulkan
